<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logic Dilation</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  
</head>
<body>
  {% include 'nav.html' %}
  <div class"container">
    <div>
      <h1>Logic Dilation</h1>
    </div>
    <div>
      <p>Here you'll find a bunch of useful tools!</p>
      <div>
       {%for tool in tools%}
          <div>
            <div><h4>{{tool['Name']}}</h4></div>
            <div><button type="button" class="btn btn-primary">Primary</button><div/>
          </div>
          
          
       {%endfor%}        
      <div/>
    </div>
  </div>
  
  
  
</body>
</html>
